{% extends 'base.html' %}
{% block content %}
    <h1>Корзмна</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Название</th>
              <th scope="col">Количество</th>
              <th scope="col">Цена</th>
              <th scope="col">Сумма</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          {% for cart in carts %}
            <tr>
              <th>{{ cart.product.name }}</th>
              <td>{{ cart.remains }}</td>
              <td>{{ cart.product.price }}</td>
              <td>{{ cart.get_product_total }}</td>
              <td><a href="{% url "webapp:cart_delete" cart.pk %}"><i class="bi bi-trash mx-2" style="font-size:25px"></i></a></td>
            </tr>
           {% endfor %}
          </tbody>
        </table>
    <h5>Общая сумма: {{ total }}</h5>
    <form action = "{% url 'webapp:order_create' %}" method="post">
    {% include 'partial/form.html' with button_text='Заказать'%}
    </form></br>


{% endblock %}