{% extends 'base.html' %}
{% block nav %}
    <li class="nav-item">
          <a class="nav-link active" href="{% url 'product_create' %}">Создать</a>
    </li>

{% endblock %}
{% block search %}
    <form class="d-flex" role="search ms-auto">
        {{ form.search }}
        <button class="btn btn-outline-success ms-2" type="submit">Search</button>
    </form>
{% endblock %}
{% block content %}
    <h1>Продукты</h1>
    {% for product in products %}
        <div class="border border-dark rounded p-4">
        <div class="d-flex">
            <h2>Название: <a href="{% url 'product_view' product.pk %}" style="text-decoration: none">{{ product.name }}</a>
                ({{product.get_category_display}})</h2>
            <a href="{% url "product_update" product.pk%}"><i class="bi bi-pencil mx-2" style="font-size:25px"></i></a>
            <a href="{% url "product_delete" product.pk %}"><i class="bi bi-trash mx-2" style="font-size:25px"></i></a>
        </div>
        <p style="font-weight: bold">Цена: {{ product.price }}</p>
        </div><br/>
    {% endfor %}<br/>
{% endblock %}